.MuseumTable{}

section{
    margin-top: 20px;

    justify-content: center;
    align-content: center;
    
  }

  /* .name{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
} */