

.MuseumLandingPage{
    margin: 'auto';
    align-items: center;
}

<<<<<<< HEAD
.museum-form {
    width: 500px;
}

.get-museum, .add-museum-button{
  margin-left: 20px;
  height: 25px;
  width: 150px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
}

.museum-id{
   display: inline-block;
   margin-left: 20px;
   margin-bottom: 20px;
}



.museum-name {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.add-museum-button{
    display: inline-block;
    margin-left: 20px;
=======
.name{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
>>>>>>> b8282d7d67f4fabdd1ef299a809a2db663ac5d46
}