.navBar {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: center;
    height: 100px;
    padding-left: 1%;
    margin-top: 1%;
    background-color: aliceblue;
}

.navBar > div > img {
    width: 100%;
    margin-left: 20px;
}

.SearchBar {
    display: flex;
}

.SearchBar input {
    width: 100px;
    background-color: lightseagreen; 
}

.SearchBar button {
    margin-right: 10px;
    margin-left: 5px;
}

