.navBar {
    display: grid;
    grid-template-columns: 35% 45% 20%;
    align-items: center;
    height: 100px;
    padding-left: 1%;
    margin-top: 1%;
    background-color: burlywood;
}

.navBar > div > img {
    width: 100%;
    margin-left: 20px;
}

.SearchBar {
    display: flex;
}

.SearchBar input {
    width: 100px;
    background-color: lightseagreen; 
}

.SearchBar button {
    margin-right: 10px;
    margin-left: 5px;
}

.dark {
    color: pink;
    background-color: #292929; 
    }
  
    .middle{
      color: black;
      text-align: center;
  
    }
  
    .leftBar a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      border: 1px solid black;
    }
   
    .leftBar a:hover {
      background-color: orange;
      color: Black;
    }
    

    .Row {
        display: table;
        width: 100%; 
        border-spacing: 10px;
    }
    .Column {
        display: table-cell;
    }

